<!-- <div class="container">
  <div class="card login-card">
    <div class="card__input">
      <div>
        <label tuiLabel>Email</label>
        <tui-textfield iconStart="@tui.mail">
          <input tuiTextfield placeholder="you@example.com" type="email" />
        </tui-textfield>
      </div>
      <div>
        <label tuiLabel>Password</label>
        <tui-textfield iconStart="@tui.lock">
          <input tuiTextfield type="password" placeholder="••••••••••" />

          <tui-icon tuiPassword />
        </tui-textfield>
      </div>

      <div><a (click)="onForgotPassword()">Forgot Password?</a></div>
    </div>
    <div class="card__action">
      <button appearance="accent" tuiButton type="button" size="m">Sign In</button>
    </div>
    <div class="card__magiclink"></div>
    <div class="card__footer">
      <div class="divider">
        <hr />
      </div>
      <div>
        <p>Don't have an account? <a (click)="onSignupRedirect()"> Sign up </a></p>
      </div>
    </div>
  </div>
</div> -->
