<div class="container">
  <div class="card login-card">
    <form class="card__input" [formGroup]="loginForm">
      <!-- email -->
      <div>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="email"
            type="email"
            autocomplete="off"
            pSize="large"
            formControlName="email"
            fluid
          />
          <label for="email">Email</label>
        </p-floatlabel>

        @if (isInvalid('email')) { @if (email?.errors?.['required']) {

        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
        } @if (email?.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple"
          >Please enter a valid email.</p-message
        >
        } }
      </div>
      <!-- password -->
      <div>
        <p-floatlabel variant="on">
          <p-password
            id="password"
            formControlName="password"
            type="password"
            [toggleMask]="true"
            [feedback]="false"
            [showClear]="true"
            fluid
            autocomplete="off"
          >
          </p-password>

          <label for="password">Password </label>
        </p-floatlabel>

        @if (password.invalid && (password.dirty || password.touched)) {
        <div class="error-messages">
          @if (password.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
            >Password is required.</p-message
          >
          }
        </div>
        }
        <div class="input-action"><a (click)="onForgotPassword()">Forgot Password?</a></div>
      </div>
    </form>

    <div class="card__action">
      <p-button label="Sign In" (onClick)="onSignIn()" size="large" fluid />
    </div>

    <div class="divider">
      <hr />
    </div>

    <div class="card__magiclink">
      <p-button severity="secondary" fluid [outlined]="true" (onClick)="onMagicLinkSignup('google')">
        <img src="/icons/social-media/google-icon-color.svg" />
      </p-button>
    </div>

    <div class="card__footer">
      <div class="redirect">
        <p>Don't have an account? <a (click)="onSignupRedirect()"> Sign up </a></p>
      </div>
    </div>
  </div>
</div>
