<div class="container">
  <div class="card">
    <form class="card__input">
      <!-- password -->
      <div>
        <p-floatlabel variant="on">
          <p-password
            id="password"
            formControlName="password"
            type="password"
            [toggleMask]="true"
            [feedback]="true"
            [promptLabel]="'Use at least 8 chars, upper & lower case, and a number.'"
            [showClear]="true"
            fluid
            autocomplete="off"
          >
          </p-password>

          <label for="password">Password </label>
        </p-floatlabel>

        @if (password.invalid && (password.dirty || password.touched)) {
        <div class="error-messages">
          @if (password.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
            >Password is required.</p-message
          >
          } @if (password.hasError('minlength')) {
          <p-message severity="error" size="small" variant="simple"
            >Password must be at least 8 characters.</p-message
          >
          } @if (password.hasError('pattern')) {
          <p-message severity="error" size="small" variant="simple"
            >Password must include uppercase, lowercase and a number.</p-message
          >
          }
        </div>
        }
      </div>

      <!-- confirm password -->
      <div>
        <p-floatlabel variant="on">
          <p-password
            id="confirmPassword"
            formControlName="confirmPassword"
            type="password"
            [toggleMask]="true"
            [feedback]="false"
            [showClear]="true"
            fluid
            autocomplete="off"
          >
          </p-password>
          <label for="confirmPassword">Confirm Password </label>
        </p-floatlabel>

        @if ((confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) ||
        passwordResetForm.hasError('passwordsMismatch')) {

        <div class="error-messages">
          @if (confirmPassword.hasError('required')) {
          <p-message severity="error" size="small" variant="simple"
            >Confirm password is required.</p-message
          >
          } @if (passwordResetForm.hasError('passwordsMismatch') && (confirmPassword.dirty ||
          confirmPassword.touched)) {
          <p-message severity="error" size="small" variant="simple"
            >Passwords do not match.</p-message
          >
          }
        </div>
        }
      </div>
    </form>

    <div class="card_action">
      <p-button label="Reset Password" (onClick)="onPasswordReset()" size="large" fluid />
    </div>
  </div>
</div>
