<div class="container">
  <div class="card">
    <form class="card__input">
      <!-- email -->
      <div>
        <p-float-label variant="on">
          <input
            pInputText
            id="email"
            type="email"
            autocomplete="off"
            pSize="large"
            formControlName="email"
            fluid
          />
          <label for="email">Email</label>
        </p-float-label>

        @if (isInvalid('email')) { @if (email?.errors?.['required']) {

        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
        } @if (email?.errors?.['email']) {
        <p-message severity="error" size="small" variant="simple"
          >Please enter a valid email.</p-message
        >
        } }
      </div>
    </form>

    <div class="card_action">
      <p-button label="Reset Password" (onClick)="onPasswordReset()" size="large" fluid />
    </div>
  </div>
</div>
