<div class="card-container">
  <p-card class="card">
    <ng-template #title>
      <div class="card__title">
        <span class="month">{{ data.month }} {{ data.year }}</span>
        <span class="week"> Week {{ data.weekNo }} </span>
      </div>
    </ng-template>
    <div class="card__week_carousel">
      @for (day of data.days; track data.days.indexOf(day)) {
        <div class="day_block">
          <span class="weekday">{{ stringShortener(day.day, 3) }}</span>
          <span class="date"> {{ getDateNumber(day.date) }}</span>
          @if (day.workOutData) {
            <span class="tag">&bull;</span>
          }
        </div>
      }
    </div>
  </p-card>
</div>

<!-- <p-card></p-card> -->
